<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.xxnet.startup.script.plist</string>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <!--<string>sh</string>-->
	<!-- <string>-c</string>-->
	<string>/usr/local/bin/testautostartupxxnet.sh</string>
	<string>reload_xxnet</string>
	<string>Python</string>
	<string>reset_all</string>
    </array>
    <key>RunAtLoad</key>
    <true/>

    <key>StandardOutPath</key>
        <string>/var/log/XX-NetLoadLog.log</string>
    <key>StandardErrorPath</key>
        <string>/var/log/XX-NetErrLoadLog.log</string>
    <key>Debug</key>
    <true/>
</dict>
</plist>
